<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Join Cohort')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Choose wisely..')"></header>

<main class="container">
    <h1 th:text="${cohort}"></h1>
    <form action="/join" method="post">
        <input type="text" name="cohort" id="cohort-ip" class="field">
        <button>Join now</button>
    </form>
</main>

<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>

